body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #444;
}

a {
  color: #00B7FF;
}
fieldset{
	border: 1px solid #CCC;
}


.tdborder {
	border-bottom: 1px solid #CCC; padding: 5px;
	}

ul li{
  list-style: none;
  padding: 5px;
}
textarea {
  width: 400px;
  height: 200px;
  padding: 2px;
}

input[type=text] {
  width: 400px;
  line-height: 14px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 1px;
}

.button
{
  display:block;
  font-weight: bold;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 7px;
  border: 1px solid #006;
  background: "LightGrey";
}


textarea, input[type=text] {
  padding: 5px;
  border: 1px solid #bbb;}

* {
  outline: none;}
  
label{
	padding-right: 20px;
	font-weight: bold;
}